.instructions{
  text-align: center;
  margin-top:3rem;
}
form{
  padding: 5rem;
  margin:10rem;
  margin-top:0;
}
.continue{
  text-align: center;
  padding: 2rem;
}
.row{
  margin-bottom: 1rem;
}
